.container{
    margin: 5px;
}
.container div{
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 10px;
    border: solid 1px #495670;
}

.content{
    padding: 20px;
    height: 100%;
    width: 100%;
}

.content h3{
    font-size: 2.5rem;
}

.content p{
    font-size: 1.5rem;
}

.content h3, .content p{
    color: rgb(249, 188, 35)
}

/* layout styling */
.main-layout{
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-areas:"main side";
    height: 100vh;
    padding: 10px;
    background-color: #0a192f;
    gap: 10px;
}

.main-box{
    grid-area: main;
}

.right-panel{
    grid-area: side;
    list-style: none;
    display: grid;
    row-gap: 10px;
}

.bottom-panel{
    display: flex;
    position: absolute;
    bottom: 2px;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    width: 65%;
}
